.allPosts{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.postElement{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  background: #e39d9d;
  border-radius: 5px;
}
